<%= render "shared/disc_navbar" %>


<div class="container tab-content">
  <div class="dashboard-container">
    <div class="disc-nav">
      <ul class="nav list-inline mb-3" id="pills-tab" role="tablist">
        <li id="disc-nav-global" class="list-inline-item nav-item" role="presentation">
          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">
            <i class="far fa-comment-alt"></i> Discussions générales
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
            <i class="far fa-edit"></i> Modifications
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="pills-info-tab" data-toggle="pill" href="#pills-info" role="tab" aria-controls="pills-info" aria-selected="false">
            <i class="far fa-bookmark"></i> Informations sur le projet
          </a>
        </li>
      </ul>
    </div>

    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div id="global-disc" class="tab-pane fade show active" role="tabpanel" aria-labelledby="global-tab">
          <ul class="disc-list">
            <% @global_disc.each do |d| %>
              <%= link_to(discussion_path(d.id), html_options = {class: "disc-card-link"}) do %>
                <li class="card-notif card-notif-modifications">
                  <div class="card-notif-head">
                    <div class="notif-head-info">
                      <%= cl_image_tag d.project.user.photo.key, class: "avatar", 'aria-haspopup': true, 'aria-expanded': false %>
                      <div>
                      <p class="notif-main-infos"><%= d.title.capitalize %></p>
                      <p class="subtitle">Crée le <%= d.updated_at.strftime("%m/%d at %I:%M") %></p>
                      </div>
                    </div>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
          <div class="add-global-disc">
            <button class="btn btn-toggle btn-ghost collapsed text-left collapsed" data-toggle="collapse" data-target="#addDiscCollapse" aria-expanded="false" aria-controls="addDiscCollapse">
              <i class="fas fa-plus"></i> Démarrer une nouvelle discussion
            </button>
            <div class="collapse p-2" id="addDiscCollapse">
              <%= simple_form_for([@project, @discussion], remote: true, html: { id: "add-global-disc-form" }) do |form| %>
                <%= form.input :title, label: "Titre de la discussion", placeholder: "Titre de la discussion", class: "add-global-disc-input" %>
                <%= form.input :context, label: "Contexte de la discussion", placeholder: "Donnez nous le contexte de cette nouvelle discussion", class: "add-global-disc-input" %>

                <%= form.button :submit, "Valider", class: "btn btn-primary add-global-disc-btn", method: :update %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <div id="modification-disc">
          <% unless @opened_modif_disc.empty? %>
            <h3>Ouvertes</h3>
            <ul class="disc-list">
              <% @opened_modif_disc.each do |d| %>
                <%= link_to(discussion_path(d.id), html_options = {class: "disc-card-link"}) do %>
                  <li class="card-notif card-notif-modifications">
                    <div class="card-notif-head">
                      <div class="notif-head-info">
                        <%= cl_image_tag d.modification.user.photo.key, class: "avatar", 'aria-haspopup': true, 'aria-expanded': false %>
                        <div>
                        <p class="notif-main-infos"><%= "#{d.title ? d.title.capitalize : "Sans titre"}" %></p>
                        <p class="subtitle">Crée par <%= d.modification.user.username.capitalize  %> le <%= d.updated_at.strftime("%m/%d at %I:%M") %></p>
                        </div>
                      </div>
                    </div>
                  </li>
                <% end %>
              <% end %>
            </ul>
          <% end %>
          <% unless @closed_modif_disc.empty? %>
            <h3>Fermées</h3>
            <ul class="disc-list">
              <% @closed_modif_disc.each do |d| %>
                <%= link_to(discussion_path(d.id), html_options = {class: "disc-card-link"}) do %>
                  <li class="card-notif card-notif-modifications">
                    <div class="card-notif-head">
                      <div class="notif-head-info">
                        <%= cl_image_tag d.modification.user.photo.key, class: "avatar", 'aria-haspopup': true, 'aria-expanded': false %>
                        <div>
                        <div class="notif-main-infos">
                          <p class="notif-main-title"><%= d.title.capitalize %></p>
                          <% if d.modification.status == "accepted" %>
                            <div class="modification-status-pills success">
                              <h4>Validée</h4>
                            </div>
                          <% else d.modification.status == "denied" %>
                            <div class="modification-status-pills decline">
                              <h4>Refusée</h4>
                            </div>
                          <% end %>
                        </div>
                        <p class="subtitle">Crée par <%= d.modification.user.username.capitalize  %> le <%= d.updated_at.strftime("%m/%d at %I:%M") %></p>
                        </div>
                      </div>
                    </div>
                  </li>
                <% end %>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
      <div class="tab-pane fade show" id="pills-info" role="tabpanel" aria-labelledby="pills-info-tab">
        <div id="info-disc">
          <h3>Description du projet</h3>
          <p><%= @project.description %></p>
          <h3>Créateur·ice du projet</h3>
          <ul class="disc-list">
            <li class="card-notif card-notif-modifications">
              <div class="card-notif-head">
                <div class="notif-head-info">
                  <%= cl_image_tag @project.user.photo.key, class: "avatar", 'aria-haspopup': true, 'aria-expanded': false %>
                  <div>
                  <p class="notif-main-infos"><%= @project.user.username %></p>
                  <p class="subtitle">A rejoint le projet le <%= @project.created_at.strftime("%m/%d at %I:%M") %></p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <h3>Contributeurs</h3>
          <div class="contributors">
            <ul class="disc-list">
              <% @project.contributors.each do |contributor| %>
                <li class="card-notif card-notif-modifications">
                  <div class="card-notif-head">
                    <div class="notif-head-info">
                      <%= cl_image_tag contributor.user.photo.key, class: "avatar", 'aria-haspopup': true, 'aria-expanded': false %>
                      <div>
                        <p class="notif-main-infos"><%= contributor.user.username %></p>
                        <p class="subtitle">A rejoint le projet le <%= contributor.created_at.strftime("%m/%d at %I:%M") %></p>
                      </div>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>





  </div>
</div>
<%= link_to text_path(@project.text), class: "btn btn-round text-link" do %>
  <i class="fas fa-book-open"></i>
<% end %>
