<div class="disc-header">
  <div class="container">
    <div class="nav-item dropdown avatar-btn">
      <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <%= link_to "Mon compte", dashboard_path, class: "dropdown-item" %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    </div>
    <div class="disc-project-title">
      <h1><%= @project.title.capitalize %></h1>
      <p class="project-creator">Projet créé par <%= @project.user.username.capitalize %></p>
    </div>
    <div class="disc-nav">
      <ul class="nav list-inline" role="tablist">
        <li id="disc-nav-global" class="list-inline-item nav-item">
          <%= link_to project_discussions_path(@project), class: "nav-link #{ "active" unless @discussion.modification }", id: "global-tab" do %>
            <i class="far fa-comment-alt"></i> Discussions générales
          <% end %>
        </li>

        <li id="disc-nav-modification" class="list-inline-item nav-item">
          <%= link_to project_discussions_path(@project), class: "nav-link #{ "active" if @discussion.modification }", id: "modification-tab" do %>
            <i class="far fa-edit"></i> Modifications
          <% end %>
        </li>
      </ul>
      <% if @project_creator %>
        <%= link_to "Inviter des contributeurs", new_project_contributor_path, class: "btn btn-ghost", id: "add-contributor" %>
      <% end %>
    </div>
  </div>
</div>

<% unless @discussion.modification.nil? %>
  <div class="container">
    <div class="modif-context">
      <h2>Contexte de la modification</h2>
      <p><%= @discussion.modification.context %></p>
      <h2>Modification proposée</h2>
      <p>C'est juste un nouveau texte</p>
    </div>
  </div>
<% end %>
<div class="container d-flex">
  <div class="disc-box col-8">
    <h2><%= @discussion.title %></h2>
    <a href="#add-post-anchor" class="btn btn-ghost" id="add-post-btn">Derniers commentaires <i class="fas fa-arrow-circle-down"></i></a>
    <p><%= "Ajoutez le premier commentaire" if @posts.empty? %></p>
    <ul class="posts">
      <% @posts.each do |p| %>
        <% if current_user == p.user   %>
          <li class="d-flex user-post">
        <% elsif %>
          <li class="d-flex">
        <% end %>
          <%= cl_image_tag p.user.photo.key, class: "avatar", 'aria-haspopup': true, 'aria-expanded': false %>
          <div id="post-<%= p.id %>" class="post-content">
            <p class="post-info"><%= p.user.username.capitalize %>, <%= p.created_at.strftime("%m/%d at %I:%M") %></p>
            <p class="post-text"><%= p.text %></p>
          </div>
        </li>
      <% end %>
    </ul>
    <div class="text-right">
      <%= simple_form_for([@discussion, @post], remote: true) do |form| %>
          <%= form.input :text, placeholder: "Ecrivez votre commentaire ici", class: "new-post-text", label: false %>

          <%= form.button :submit, "Envoyer mon commentaire !", class: "btn btn-primary post-btn", id: "add-post-anchor", method: :post %>
      <% end %>
    </div>
  </div>

  <div class="disc-info-box col-4">
    <% if @discussion.context.present? %>
      <h2>Contexte</h2>
      <p><%= @discussion.context %></p>
    <% end %>
    <h2>Contributeurs</h2>
      <ul class="list-inline">
        <% @contributors.each do |c| %>
          <%= cl_image_tag c.photo.key, class: "avatar list-inline-item", 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>
      </ul>
  </div>
</div>
<%= link_to text_path(@discussion.project.text), class: "btn btn-round text-link" do %>
  <i class="fas fa-book-open"></i>
<% end %>
