<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/jbteuma/image/upload/v1637749315/banner_itok2f.jpg);">
  <%= link_to "#{current_user ? "Mon compte" : "Connexion"}", dashboard_path, class: "btn btn-flat" %>
  <div class="container text-center">

    <div class="logo" style="color:white; font-size:32px;">
      <%= image_tag('WM-logo-banner.png') %>
    </div>

    <div class="content active">
      <h1>Pourquoi <strong>écrire</strong> seul quand on peut le faire à <strong>plusieurs</strong> ?</h1>
      <p>Associez le plaisir de lire au plaisir d'écrire. Partagez l'écriture de votre prochain chef d'oeuvre et profitez d'une interface de discussion dédiée.</p>
      <%= link_to "Créer mon projet", new_project_path, class: "btn btn-primary" %>
    </div>

  </div>
</div>


<div class="container value-proposition">
  <div class="value-cards">
    <div class="value-card">
      <%= image_tag('image-value-1.png') %>
      <h3>Créer</h3>
    </div>

    <div class="value-card">
      <%= image_tag('image-value-2.png') %>
      <h3>Echanger</h3>
    </div>

    <div class="value-card">
      <%= image_tag('image-value-3.png') %>
      <h3>Contribuer</h3>
    </div>
  </div>
</div>

<div class="value-section">
  <div class="container">
    <div class="d-flex">
      <div class="section-value-img col-8">
        <%= image_tag('image-banner-1') %>
      </div>
      <div class="section-info col-4">
        <h2>Une experience d'écriture <strong>inoubliable</strong></h2>
        <p>A l'aide de cette interface d'écriture minimaliste concentrez vous sur l'essentiel, votre oeuvre. Un affichage clair pour ne jamais se perdre dans le texte et une lecture confortable.
        </p>
        <%= link_to "Créer mon projet", new_project_path, class: "btn btn-ghost" %>
      </div>
    </div>
  </div>
</div>

<div class="value-section">
  <div class="container">
    <div class="d-flex">
    <div class="section-value-img col-8">
        <%= image_tag('image-banner-2') %>
      </div>
      <div class="section-info col-4">
        <h2>Un espace de communication <strong>Multicanal</strong> pour chaque projet</h2>
        <p>Pour tirer le meilleur de chaque idée, rien de tel que d'en parler. L'espace de discussion permet de discuter à propos du texte mais aussi autour d'une modification spécifique.
        </p>
        <%= link_to "Créer mon projet", new_project_path, class: "btn btn-ghost" %>
      </div>
    </div>
  </div>
</div>

<div class="value-section">
  <div class="container">
    <div class="d-flex">
      <div class="section-value-img col-8">
        <%= image_tag('image-banner-3') %>
      </div>
      <div class="section-info col-4">
        <h2>Suggerez des <strong>modifications</strong> à tout moment</h2>
        <p>Envie d'ajouter un paragraphe ? Un simple double click dans le texte et vous pouvez proposer un modification. Vous pourrez ensuite échanger avec les autres contributeurs et le créateur du projet pourra décider d'integrer votre texte à la version finale.
        </p>
        <%= link_to "Créer mon projet", new_project_path, class: "btn btn-ghost" %>
      </div>
    </div>
  </div>
</div>

<div class="bottom-cta">
  <div class="text-center">
    <h1>Envie de démarrer l'aventure ?</h1>
    <%= link_to "Créer mon projet", new_project_path, class: "btn btn-white" %>
  </div>
</div>
