<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/jbteuma/image/upload/v1637749315/banner_itok2f.jpg);">
  <%= link_to "Connexion", dashboard_path, class: "btn btn-flat" %>
  <div class="container text-center">

    <div class="logo" style="color:white; font-size:32px;">W/M</div>

    <div class="content active">
      <h1>Pourquoi <strong>écrire</strong> seul quand on peut le faire à <strong>plusieurs</strong>!</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni voluptate deleniti nihil consequuntur voluptates.</p>
      <%= link_to "Créer mon projet", new_project_path, class: "btn btn-primary" %>
    </div>

  </div>
</div>


<div class="container value-proposition">
  <h2>Une expérience de lecture inoubliable</h2>
  <div class="value-cards">
    <div class="value-card">
      <img src="https://res.cloudinary.com/jbteuma/image/upload/v1637754487/writting_qideou.png" alt="machine à écrire">
      <h3>Créer</h3>
    </div>

    <div class="value-card">
      <img src="https://res.cloudinary.com/jbteuma/image/upload/v1637754487/community_vj8ace.png" alt="Discussion">
      <h3>Echanger</h3>
    </div>

    <div class="value-card">
      <img src="https://res.cloudinary.com/jbteuma/image/upload/v1637754487/sharing_glmbwd.png" alt="Contribution">
      <h3>Contribuer</h3>
    </div>
  </div>
</div>

<div class="value-section">
  <div class="container">
    <div class="d-flex">
      <div class="section-value-img col-8">
        <img src="https://res.cloudinary.com/jbteuma/image/upload/v1637754487/write_oohamp.png" alt="">
      </div>
      <div class="section-info col-4">
        <h1>Une experience d'écriture <strong>inoubliable</strong></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Veniam assumenda magnam voluptas quas expedita ad delectus omnis at suscipit nemo dolores,
          asperiores animi ea voluptates rem excepturi provident perferendis. Rerum.
        </p>
        <%= link_to "Créer mon projet", new_project_path, class: "btn btn-ghost" %>
      </div>
    </div>
  </div>
</div>

<div class="value-section">
  <div class="container">
    <div class="d-flex">
    <div class="section-value-img col-8">
        <img src="https://res.cloudinary.com/jbteuma/image/upload/v1637754487/discussion_dbqugm.png" alt="">
      </div>
      <div class="section-info col-4">
        <h1>Un espace de travail <strong>Multicanal</strong> pour chaque projet</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Veniam assumenda magnam voluptas quas expedita ad delectus omnis at suscipit nemo dolores,
          asperiores animi ea voluptates rem excepturi provident perferendis. Rerum.
        </p>
        <%= link_to "Créer mon projet", new_project_path, class: "btn btn-ghost" %>
      </div>
    </div>
  </div>
</div>

<div class="value-section">
  <div class="container">
    <div class="d-flex">
      <div class="section-value-img col-8">
        <img src="https://res.cloudinary.com/jbteuma/image/upload/v1637754487/edition_qbvhrn.png" alt="">
      </div>
      <div class="section-info col-4">
        <h1>Deux clics suffisent pour <strong>modifier</strong> le texte</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Veniam assumenda magnam voluptas quas expedita ad delectus omnis at suscipit nemo dolores,
          asperiores animi ea voluptates rem excepturi provident perferendis. Rerum.
        </p>
        <%= link_to "Créer mon projet", new_project_path, class: "btn btn-ghost" %>
      </div>
    </div>
  </div>
</div>

<div class="bottom-cta">
  <div class="text-center">
    <h1>Envie de démarrer l'aventure ?</h1>
    <%= link_to "Créer mon projet", new_project_path, class: "btn btn-white" %>
  </div>
</div>
