<%= render "shared/dash_navbar" %>

<%= link_to dashboard_path, class: "dashboard-back btn btn-ghost return-btn" do %>
    <i class="fas fa-reply"></i> Retourner aux Projets
<% end %>
<div class="container">
  <div id="form-project" class="row d-grid">
    <div class="col-8">

      <h2>Nouveau Projet</h2>

      <%= simple_form_for(@project) do |form| %>
        <div class="form-inputs">
          <%= form.input :title, label: "Titre de votre projet" %>
          <%= form.input :description , label: "Déscription" %>
          <%= form.input :photo,
                          required: true,
                          as: :file %>
        </div>

        <div class="form-actions">
          <%= form.button :submit, "Créer votre projet!", class: "btn btn-primary", method: :post %>
        </div>

      <% end %>
    </div>
  </div>
</div>
