<%= render "shared/dash_navbar" %>


<div class="container">
<%# La classe 'content' et 'active' sont là pour le JS. Elles permettent de faire jouer le display %>
  <div class="dashboard-container">
    <div class="colonne tabs">
      <ul class="list-inline tabs-underlined">
        <li data-content-active="dashboard-show" class="tab-underlined active">
          <i class="fas fa-bell"></i>
          <a href="#dashboard-show">Dernières modifications</a>
        </li>
        <li data-content-active="dashboard-rental" class="tab-underlined">
          <i class="fas fa-pen"></i>
          <a href="#dashboard-rental">Mes projets</a>
        </li>
        <li data-content-active="dashboard-resa" class="tab-underlined">
          <i class="fas fa-pencil-ruler"></i>
          <a href="#dashboard-resa">Mes contributions</a>
        </li>
        <li class="create-project">
          <i class="fas fa-plus"></i>
          <a href="/projects/new">Nouveau Projet</a>
        </li>
      </ul>
    </div>
    <div class="colonne content active" id="dashboard-show" >
      <% @feed_list.each do |feed| %>
        <% if feed.class == Discussion && feed.modification && feed.posts.any? %>
          <div class="dashboard-cards" >
            <div class="card-notif">
              <div class="card-notif-head">
                <div class="notif-head-info">
                  <%= cl_image_tag feed.posts.last.user.photo.key, class: "avatar" %>
                  <div>
                    <p class="notif-main-infos"><strong><%= feed.posts.last.user.username.capitalize %></strong> a repondu à <strong><%= feed.title ? feed.title : "Sans titre" %></strong></p>
                    <p class="subtitle">Dans le projet <strong><%= feed.project.title %></strong> de <strong> <%= feed.project.user.username.capitalize %></strong></p>
                  </div>
                </div>
                <div class="notif-head-time">
                  <p><%= feed.updated_at %></p>
                </div>
              </div>
              <div class="card-notif-body">
                <p><%= feed.posts.last.text %></p>
              </div>
            </div>
          </div>
        <% end %>

        <% if feed.class == Discussion && feed.modification && feed.posts.empty? %>
          <div class="dashboard-cards" >
            <div class="card-notif">
              <div class="card-notif-head">
                <div class="notif-head-info">
                  <%= cl_image_tag feed.modification.user.photo.key, class: "avatar" %>
                  <div>
                    <p class="notif-main-infos"><strong><%= feed.modification.user.username.capitalize %></strong> a créé la modification : <strong><%= feed.title ? feed.title : "Sans titre" %></strong></p>
                    <p class="subtitle">Dans le projet <strong><%= feed.project.title %></strong> de <strong> <%= feed.project.user.username.capitalize %></strong></p>
                  </div>
                </div>
                <div class="notif-head-time">
                  <p><%= feed.updated_at %></p>
                </div>
              </div>
              <% if feed.context %>
                <div class="card-notif-body">
                  <p><%= feed.context %></p>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>

        <% if feed.class == Discussion && feed.modification.nil? && feed.posts.any? %>
          <div class="dashboard-cards" >
            <div class="card-notif">
              <div class="card-notif-head">
                <div class="notif-head-info">
                  <%= cl_image_tag feed.posts.last.user.photo.key, class: "avatar" %>
                  <div>
                    <p class="notif-main-infos"><strong><%= feed.posts.last.user.username.capitalize %></strong> a repondu à <strong><%= feed.title ? feed.title : "Sans titre" %></strong></p>
                    <p class="subtitle">Dans le projet <strong><%= feed.project.title %></strong> de <strong> <%= feed.project.user.username.capitalize %></strong></p>
                  </div>
                </div>
                <div class="notif-head-time">
                  <p><%= feed.updated_at %></p>
                </div>
              </div>
              <div class="card-notif-body">
                <p><%= feed.posts.last.text %></p>
              </div>
            </div>
          </div>
        <% end %>

        <% if feed.class == Discussion && feed.modification.nil? && feed.posts.empty? %>
          <div class="dashboard-cards" >
            <div class="card-notif">
              <div class="card-notif-head">
                <div class="notif-head-info">
                  <%= cl_image_tag feed.project.user.photo.key, class: "avatar" %>
                  <div>
                    <p class="notif-main-infos"><strong><%= feed.project.user.username.capitalize %></strong> a créé la discussion : <strong><%= feed.title %></strong></p>
                    <p class="subtitle">Dans le projet <strong><%= feed.project.title %></strong></p>
                  </div>
                </div>
                <div class="notif-head-time">
                  <p><%= feed.updated_at %></p>
                </div>
              </div>
              <div class="card-notif-body">
                <p><%= feed.context %></p>
              </div>
            </div>
          </div>
        <% end %>

        <% if feed.class == Modification && feed.status != "pending" %>
          <div class="dashboard-cards" >
            <div class="card-notif">
              <div class="card-notif-head">
                <div class="notif-head-info">
                  <%= cl_image_tag feed.text.project.user.photo.key, class: "avatar" %>
                  <div>
                    <p class="notif-main-infos"><strong><%= feed.text.project.user.username.capitalize %></strong> a <%= feed.status == "validated" ? "accepté" : "refusé" %> la modification : <strong><%= feed.title %></strong></p>
                    <p class="subtitle">Dans le projet <strong><%= feed.text.project.title %></strong></p>
                  </div>
                </div>
                <div class="notif-head-time">
                  <p><%= feed.updated_at %></p>
                </div>
              </div>
              <div class="card-notif-body">
                <p><%= feed.context %></p>
              </div>
            </div>
          </div>
        <% end %>

        <% if feed.class == Contributor %>
          <div class="dashboard-cards" >
            <div class="card-notif">
              <div class="card-notif-head">
                <div class="notif-head-info">
                  <%= cl_image_tag feed.user.photo.key, class: "avatar" %>
                  <div>
                    <p class="notif-main-infos"><strong><%= feed.user.username.capitalize %></strong> a été ajouté à la liste des <strong>contributeurs</strong></p>
                    <p class="subtitle">Dans le projet <strong><%= feed.project.title %></strong></p>
                  </div>
                </div>
                <div class="notif-head-time">
                  <p><%= feed.updated_at %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="colonne content" id="dashboard-rental">
      <div class="dashboard-cards-projects", style="padding: 0px 16px;" >
        <% @projects.each do |project| %>
          <div class="card-project">
            <%= link_to(text_path(project.text)) do %>
              <%= cl_image_tag project.photo.key, class: "project-img" %>
            <% end %>
            <div class="card-project-info">
              <div class="card-project-header">
                <%= link_to(text_path(project.text)) do %>
                  <h4><%= project.title %></h4>
                <% end %>
                <div class="card-project-header-infos">
                  <div class="date-infos">
                    <p>créé le <strong><%= project.created_at.strftime("%d.%m.%Y") %></strong></p>
                    <% if project.modifications.any? %>
                      <p>modifié le <strong><%= project.modifications.last.created_at.strftime("%d.%m.%Y") %></strong></p>
                    <% end %>
                  </div>
                  <div class="card-contributor">
                    <% project.contributors.each do |contributor| %>
                      <%= cl_image_tag contributor.user.photo.key, class: "avatar" %>
                    <% end %>
                  </div>
                </div>
              </div>
              <% if project.modifications.any? %>
              <ul class="list-modifications">
                <span>Dernières discussions</span>
                <% project.text.modifications.each do |modification| %>
                  <%= link_to(discussion_path(modification.discussion)) do %>
                      <li><%= modification.title %></li>
                  <% end %>
                <% end %>
              <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="colonne content" id="dashboard-resa">
      <div class="dashboard-cards-projects", style="padding: 0px 16px;" >
        <% @contributions.each do |project| %>
          <div class="card-project">
            <%= link_to(text_path(project.text)) do %>
              <%= cl_image_tag project.photo.key, class: "project-img"%>
            <% end %>
            <div class="card-project-info">
              <div class="card-project-header">
                <%= link_to(text_path(project.text)) do %>
                  <h4><%= project.title %></h4>
                <% end %>
                <div class="card-project-header-infos">
                  <div class="date-infos">
                    <p>créé le <strong><%= project.created_at.strftime("%d.%m.%Y") %></strong></p>
                    <p>modifié le <strong><%= project.modifications.last.created_at.strftime("%d.%m.%Y") %></strong></p>
                  </div>
                  <div class="card-contributor"><% project.contributors.each do |contributor| %>
                      <%= cl_image_tag contributor.user.photo.key, class: "avatar" %>
                    <% end %>
                  </div>
                </div>
              </div>
              <ul class="list-modifications">
                <div class="list">
                  <% project.text.modifications.last(3).each do |modification| %>
                    <%= link_to(discussion_path(modification.discussion)) do %>
                      <li><%= modification.title %></li>
                    <% end %>
                  <% end %>
                </div>
              </ul>
              <div class="last-modification">
                <% if project.modifications.where(user: current_user).last %>
                  <%= link_to(discussion_path(project.modifications.where(user: current_user).last.discussion), class:"last-modification-user") do %>
                    <p>Votre dernière contribution<strong> <%= project.modifications.where(user: current_user).last.title%></strong></p>
                  <% end %>
                <% else %>
                 <p><strong>Aucune contribution </strong> </p>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
