<div class="dashboard-navbar">
  <div class="container">
    <div class="navbar-page-info">
      <div class="navbar-body">
        <%= cl_image_tag current_user.photo.key, class: 'navbar-page-image' %>

        <div class="navbar-info">
          <h1 class="username"><%= @user.username.capitalize %></h1>
          <div class="subtitle">Membre depuis le 21.02.2012</div>

          <div class="subinfos">
            <p>Contributeur dans <%= @contributions.count %> projets</p>
            <p>Créateur de <%= @projects.count %> projets</p>
          </div>
        </div>
      </div>
      <div class="link">Deconnexion</div>
    </div>

  </div>
</div>


<div class="container dashboard-container col-11">
<%# La classe 'content' et 'active' sont là pour le JS. Elles permettent de faire jouer le display %>
  <div class="row">
    <div class="colonne tabs">
      <ul class="list-inline tabs-underlined">
        <li>
          <a data-content-active="dashboard-show" href="#dashboard-show" class="tab-underlined active">Dernière Modification</a>
        </li>
        <li>
          <i class="fas fa-pencil-ruler"></i>
          <a data-content-active="dashboard-rental" href="#dashboard-rental" class="tab-underlined">Mes projets</a>
        </li>
        <li>
          <i class="fas fa-pencil-ruler"></i>
          <a data-content-active="dashboard-resa" href="#dashboard-resa" class="tab-underlined">Mes contributions</a>
        </li>
        <li>
          <a class="create-projet" href="#"><p>+ Créer un projet</p></a>
        </li>
      </ul>
    </div>
    <div class="colonne content active" id="dashboard-show" >
      <div class="dashboard-cards" >
        <div class="card-notif">
          <div class="card-notif-head">
            <div class="notif-head-info">
              <%= cl_image_tag current_user.photo.key, class: "avatar" %>
              <div>
                <p class="notif-main-infos"><strong><%= current_user.username.capitalize %></strong> reply <strong><%= current_user.projects.last.modifications.last.context %></strong></p>
                <p class="subtitle">In <strong><%= current_user.projects.last.title %></strong> from <strong> <%= current_user.projects.last.user.username.capitalize %></strong></p>
              </div>
            </div>
            <div class="notif-head-time">
              <p>2 hours ago</p>
            </div>
          </div>
          <div class="card-notif-body">
            <p>Je me suis permis de supprimé le passage de Montesquieu qui se présente à Machiavel,
            En effet ce passage me parait peu rigoureux historiquement parlant, Montesquieu se présente
            comme un ministre de Louis XVI ce qu'il n'était pas. De plus les locutions pour se dire bonjour ne
            correspondent pas, vers 1750, date du décès de celui-ci, dans ce dialogue le 'bon' et le 'jour' sont
            séparés alors que cette façon d'écrire correspond plus à une tradition littéraire du XIIIeme siècle.
            De manière général j'ai supprimé l'ensemble du passage pour qu'il soit travailler du fait qu'il ne
            convenait pas à la rigueur qu'on s'est fixé au préalable sur le texte mais aussi car il rompt avec
            le sens logique des personnages historiques.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="colonne content" id="dashboard-rental">
      <div class="dashboard-cards-projects" >
        <% @projects.each do |project| %>
          <div class="card-project">
            <%= link_to(text_path(project.text)) do %>
              <%= cl_image_tag project.photo.key, class: "project-img"%>
            <% end %>
            <div class="card-project-info">
              <div class="card-project-header">
                <%= link_to(text_path(project.text)) do %>
                  <h4><%= project.title %></h4>
                <% end %>
                <div class="card-project-header-infos">
                  <div class="date-infos">
                    <p>crée le <strong><%= project.created_at.strftime("%d.%m.%Y") %></strong></p>
                    <p>modificé le <strong><%= project.modifications.last.created_at.strftime("%d.%m.%Y") %></strong></p>
                  </div>
                  <div class="card-contributor"><% project.contributors.each do |contributor| %>
                      <%= cl_image_tag contributor.user.photo.key, class: "avatar" %>
                    <% end %>
                  </div>
                </div>
              </div>
              <ul class="list-modifications">
                <% project.text.modifications.each do |modification| %>
                  <%= link_to("#") do %>
                    <li><%= modification.context %></li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="colonne content" id="dashboard-resa">
      <div class="dashboard-cards-projects" >
        <% @contributions.each do |project| %>
          <div class="card-project">
            <%= link_to(text_path(project.text)) do %>
              <%= cl_image_tag project.photo.key, class: "project-img" %>
            <% end %>
            <div class="card-project-info">
              <div class="card-project-header">
                <%= link_to(text_path(project.text)) do %>
                  <h4><%= project.title %></h4>
                <% end %>
                <p>crée le <%= project.created_at.strftime("%d.%m.%Y") %></p>
              </div>
              <ul class="list-modifications">
                <% project.text.modifications.each do |modification| %>
                  <%= link_to(project_discussions_path(project)) do %>
                  <li><%= modification.context %></li>
                  <% end %>
                <% end %>
              </ul>
              <div class="card-project-footer">
                <div class="last-modification">
                  <p><strong>Votre dernière contribution:</strong>  Aucune</p>
                </div>
                <div class="card-contributor"><% project.contributors.each do |contributor| %>
                    <%= cl_image_tag contributor.user.photo.key, class: "avatar" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
