<div class="d-flex" data-controller="editor">
  <%= render "shared/sidebar_text" %>
  <div class="container">

      <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "textAvatar", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <%= link_to "Mon compte", dashboard_path, class: "dropdown-item" %>
        <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    <h1 id="text_title"><%= @text.project.title %></h1>
    <div id="textFormulaire">
      <%= render 'texts/form' %>
    </div>
  </div>

  <button id="saveBtn" data-editor-target="saveBtn">Créer une nouvelle modification</button>

  <%= link_to project_discussions_path(@text.project), class: "btn btn-round text-link", style: "z-index: 50;" do %>
    <i class="far fa-comment-alt"></i>
  <% end %>
</div>
